

<div class="masthead"> 
  <div class="language-nav"> 
    <ul> 
      <li>  <a href="">CSS</a> </li>
      <li> <a href="">HTML</a></li>
      <li>  <a href="">Javascript</a></li>
      <li>  <a href="">Ruby</a></li>
    </ul> 
  </div> 
  <img src="assets/AA_Times_Logo.png" alt="" class="logo">
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <a href="#">Today’s Paper</a>
    </li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i><a href="#">Video</a></li>
    <li class="hover-gray"><a href="#">77°F</a></li>
    <li class="hover-gray"><a href="#">AAO <strong>+100%</strong></a></li>
  </ul>
</div>

